---
import Page from '@layouts/Page.astro'
import PageHeader from '@components/PageHeader.astro'
import ProjectCard from '@components/ProjectCard.astro'
import { SITE } from '@/site'
import { getCollection } from 'astro:content'

const projects = (await getCollection('projects')).sort((a, b) => a.data.order - b.data.order)
---

<Page title={SITE.pages.code.title} description={SITE.pages.code.description}>
  <PageHeader title="Code" lede={SITE.pages.code.description} />
  <div class="grid gap-6 md:grid-cols-2">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.data.title}
          blurb={project.data.blurb}
          slug={project.id}
          status={project.data.status}
          tags={project.data.tags}
        />
      ))
    }
  </div>
</Page>
