---
import Page from '@layouts/Page.astro'
import PageHeader from '@components/PageHeader.astro'
import PostCard from '@components/PostCard.astro'
import { SITE } from '@/site'
import { getCollection } from 'astro:content'
import { readingMinutes } from '@/lib/posts'

const posts = (await getCollection('posts'))
  .filter((p) => !p.data.draft)
  .sort((a, b) => b.data.dated.getTime() - a.data.dated.getTime())
---

<Page title={SITE.pages.blog.title} description={SITE.pages.blog.description}>
  <PageHeader title="Blog" lede={SITE.pages.blog.description} />
  {
    posts.length === 0 ? (
      <p class="text-text-dim">No posts yet. Check back soon.</p>
    ) : (
      <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
        {posts.map((post) => (
          <PostCard
            title={post.data.title}
            blurb={post.data.blurb}
            slug={post.id}
            dated={post.data.dated}
            tags={post.data.tags}
            minutes={readingMinutes(post.body ?? '')}
          />
        ))}
      </div>
    )
  }
</Page>
